@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.link {
  @apply relative inline-block pb-0.5 no-underline transition-all duration-300 ease-in-out;
}

.link::after {
  @apply content-[''] absolute w-full h-0.5 bottom-0 left-0 bg-current invisible scale-x-0 transition-all duration-300 ease-in-out;
}

.link:hover::after {
  @apply visible scale-x-100;
}

#home-gradient {
  background: linear-gradient(270deg, #362fa8, #4f46e5);
  background-size: 600% 600%;

  -webkit-animation: home-gradient 30s ease infinite;
  -moz-animation: home-gradient 30s ease infinite;
  -o-animation: home-gradient 30s ease infinite;
  animation: home-gradient 30s ease infinite;
}

@-webkit-keyframes home-gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes home-gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-o-keyframes home-gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes home-gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}